@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  font-family: "POPPINS";
}

.todo-list {
  list-style: decimal;
}

.todo-total {
  font-weight: bold;
  color: white;
}

.main {
  background: linear-gradient(356deg, red, #2700ff75);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.todo-list {
  color: white;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-form {
  display: flex;
  flex-direction: revert;
  align-items: center;
  gap: 15px;
}

.todo-input {
  border-radius: 2px;
  border: none;
  height: 25px;
}

.todo-submit {
  border: none;
}

.todo-item {
  text-transform: uppercase;
}

.todo-delete {
  margin: 10px;
  border-radius: 2px;
  border: none;
}